<!-- A noter le _ pour montrer que ce fichier est une vue partielle -->
<li><%= vote.created_at.to_formatted_s(:short) %></li> <!-- la methode .to_formatted_s dispo pour les objets Date et Time et renvoie la date en joli format (params :short :long) -->
