<% form_tag session_path do %> <!-- genere les tags de formulaire -->
  <p>Please log in.</p>
  <p>
    <label>Username:</label>
    <%= text_field_tag 'login' %>
  </p>
  <p>
    <label>Password:</label>
    <%= password_field_tag 'password' %>
  </p>
  <p><%= submit_tag 'login' %></p>
<% end %>
