Un lien au pif :
<a href="<%= @story.link%>"><%=@story.name %></a> <!-- Première maniere de faire des liens, un peu chiant -->
<%= link_to @story.name, @story.link %> <!-- Deuxieme méthode, qui crée le meme lien : beaucoup mieux ! -->
