<%= error_messages_for 'story' %> <!-- Affichage des messages d'erreur (lors de la regeneration de la page)-->
<% form_for @story do |f| %>  <!-- Création standard de formulaire contient meme ce qu'il faut pour contrer les xss -->
<p>
 name:<br />
 <%= f.text_field :name %> 
</p> 
<p>
 link:<br />
 <%= f.text_field :link %> 
</p> 
<p>
 <%= submit_tag %> 
</p> 
<% end %> 
